*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-player-1: #4b7bec;
    --color-player-2: #ffdd59;
    --color-player-3: #26de81;
    --color-player-4: #fc5c65;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parchis{
    display: flex;
    flex-direction: row;
}

#table{
    width: 630px;
    height: 630px;
    background-color: grey;
    position: relative;
}

.spot{
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-player1{
    background-color: var(--color-player-1);
    position: absolute;
    top: 0;
    left: 0;
}

.spot-player2{
    background-color: var(--color-player-2);
    position: absolute;
    top: 0;
    right: 0;
}

.spot-player3{
    background-color: var(--color-player-3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.spot-player4{
    background-color: var(--color-player-4);
    position: absolute;
    bottom: 0;
    left: 0;
}

.spot-container{
    width: 190px;
    height: 190px;
    background-color: rgba(34, 47, 62,0.2);
    border-radius: 20px;
}

.row-base{
    width: 70px;
    height: 210px;
    background-color: #fff;
}

.field{
    width: 70px;
    height: 30px;
    border: 1px solid grey; 
    display: flex;
    justify-content: center;
}

.field-player1{
    background-color: var(--color-player-1);
}

.field-player2{
    background-color: var(--color-player-2);
}

.field-player3{
    background-color: var(--color-player-3);
}

.field-player4{
    background-color: var(--color-player-4);
}

.field-security{
    background-color: #b2bec3;
}

.field-triangular1{
    position: absolute;
    height: 70px;
    width: 70px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background-color: #fff;
    border: 1px grey solid;
}

.field-triangular2{
    position: relative;
    height: 70px;
    width: 70px;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    background-color: #fff;
    border: 1px grey solid;
}

.row-base-player1{
    position: absolute;
    top: 0;
    left: 210px;
}

.row-base-player2{
    transform: rotate(90deg);
    position: absolute;
    top: 140px;
    right: 70px;
    
}

.row-base-player3{
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 210px;
    
}

.row-base-player4{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 140px;
    left: 70px;
    
}

.row-final-player1{
    background-color: var(--color-player-1);
    height: 240px;
    position: absolute;
    top: 0;
    left: 280px;
}

.row-final-player2{
    transform: rotate(90deg);
    background-color: var(--color-player-2);
    height: 240px;
    position: absolute;
    top: 195px;
    right: 85px;
}

.row-final-player3{
    transform: rotate(180deg);
    background-color: var(--color-player-3);
    height: 240px;
    position: absolute;
    bottom: 0;
    right: 280px;
}

.row-final-player4{
    transform: rotate(-90deg);
    background-color: var(--color-player-4);
    height: 240px;
    position: absolute;
    bottom: 195px;
    left: 85px;
}

.row-second-player1{
    transform: rotate(270deg);
    position: absolute;
    top: 140px;
    left: 70px;
}

.row-second-player2{
    position: absolute;
    top: 0;
    left: 350px;
}

.row-second-player3{
    transform: rotate(90deg);
    position: absolute;
    bottom: 140px;
    right: 70px;
}

.row-second-player4{
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 350px;
}

.row-middle{
    height: 70px;
    width: 70px;
}

.row-middle-player1{
    position: absolute;
    top: 210px;
    left: 210px;
}

.row-middle-player2{
    transform: rotate(90deg);
    position: absolute;
    top: 210px;
    right: 210px;
}

.row-middle-player3{
    transform: rotate(180deg);
    position: absolute;
    bottom: 210px;
    right: 210px;
}

.row-middle-player4{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 210px;
    left: 210px;
}

.arrival{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrival-player1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-player-1);
    height: 75px;
    width: 150px;
    clip-path: polygon(100% 0, 50%  100%, 0 0);
}

.arrival-player2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-player-2);
    height: 150px;
    width: 75px;
    clip-path: polygon(0% 50%, 100%  0%, 100% 100%);
}

.arrival-player3{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-player-3);
    height: 75px;
    width: 150px;
    clip-path: polygon(0 100%, 100%  100%, 50% 0);
}

.arrival-player4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-player-4);
    height: 150px;
    width: 75px;
    clip-path: polygon(0% 0%, 0%  100%, 100% 50%);
}


/*Termina el css del tablero*/

#player{
    width: 240px;
    height: 630px;
    background-color: #3c6382;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow{
    width: 220px;
    height: 610px;
    background-color: rgba(34, 47, 62,0.2);
    border-radius: 10px;
    position: relative;
}

#dados{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado{
    margin: 17px;
}




#btnPush {
    position: absolute;
    bottom: 20px;
    left: 44px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #303952;
    background-color: #3c6382;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  #btnPush:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .plano{
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .figurePlayer1{
    height: 20px;
    width: 20px;
    background-color: var(--color-player-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px rgba(52, 73, 94,0.9); 
  }

  .figurePlayer2{
    height: 20px;
    width: 20px;
    background-color: var(--color-player-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px rgba(52, 73, 94,0.9); 
  }

  .figurePlayer3{
    height: 20px;
    width: 20px;
    background-color: var(--color-player-3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px rgba(52, 73, 94,0.9); 
  }



  .figurePlayer4{
    height: 20px;
    width: 20px;
    background-color: var(--color-player-4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px rgba(52, 73, 94,0.9); 
  }

.rotate-90{
    transform: rotate(90deg);
    position: absolute;
}

.rotate{
    transform: rotate(-90deg);
    position: relative;
}

.middle-player1-1{
    display: flex;
    position: absolute;
    top: 6px;
    left: 30px;
}

.middle-player1-2{
    display: flex;
    position: absolute;
    top: 25px;
    left: 8px;
}

.middle-player2-1{
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    top: 4px;
    right: 30px;
}

.middle-player2-2{
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25px;
    left: 4px;
}

.middle-player3-1{
    display: flex;
    transform: rotate(180deg);
    position: absolute;
    top: 4px;
    right: 27px;
}

.middle-player3-2{
    display: flex;
    transform: rotate(180deg);
    position: absolute;
    bottom: 20px;
    left: 5px;
}

.middle-player4-1{
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    top: 5px;
    left: 25px;
}

.middle-player4-2{
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    top: 25px;
    left: 5px;
}


.arrival-player1-1{
    display: flex;
    position: absolute;
    top: 20px;
    left: 69px;
}

.arrival-player1-2{
    display: flex;
    position: absolute;
    top: 65px;
    right: 25px;
}

.arrival-player1-3{
    display: flex;
    position: absolute;
    bottom: 24px;
    left: 69px;
}

.arrival-player1-4{
    display: flex;
    position: absolute;
    top: 65px;
    left: 25px;
}



.spot-container .figurePlayer1{
    display: flex;
    position: absolute;
    top:95px;
    left: 95px;  
  }

  .spot-container .figurePlayer2{
    display: flex;
    position: absolute;
    top: 95px;
    left: 95px;  
  }

  .spot-container .figurePlayer3{
    display: flex;
    position: absolute;
    top: 95px;
    left: 95px;  
  }

  .spot-container .figurePlayer4{
    display: flex;
    position: absolute;
    top: 95px;
    left: 95px;  
  }

