*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-player-1: #4b7bec;
    --color-player-2: #ffdd59;
    --color-player-3: #26de81;
    --color-player-4: #fc5c65;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parchis{
    display: flex;
    flex-direction: row;
}

#table{
    width: 630px;
    height: 630px;
    background-color: grey;
    position: relative;
}

.spot{
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-player1{
    background-color: var(--color-player-1);
    position: absolute;
    top: 0;
    left: 0;
}

.spot-player2{
    background-color: var(--color-player-2);
    position: absolute;
    top: 0;
    right: 0;
}

.spot-player3{
    background-color: var(--color-player-3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.spot-player4{
    background-color: var(--color-player-4);
    position: absolute;
    bottom: 0;
    left: 0;
}

.spot-container{
    width: 190px;
    height: 190px;
    background-color: rgba(34, 47, 62,0.2);
    border-radius: 20px;
}

.row-base{
    width: 70px;
    height: 210px;
    background-color: #fff;
}

.field{
    width: 70px;
    height: 30px;
    border: 1px solid grey; 
}

.field-player1{
    background-color: var(--color-player-1);
}

.field-player2{
    background-color: var(--color-player-2);
}

.field-player3{
    background-color: var(--color-player-3);
}

.field-player4{
    background-color: var(--color-player-4);
}

.field-security{
    background-color: grey;
}

.field-triangular1{
    position: absolute;
    height: 70px;
    width: 70px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background-color: #fff;
    border: 1px grey solid;
}

.field-triangular2{
    position: absolute;
    height: 70px;
    width: 70px;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    background-color: #fff;
    border: 1px grey solid;
}

.row-middle{
    height: 70px;
    width: 70px;
    position: relative;
    top: 210px;
    left: 210px;
}

.row-base-player1{
    position: absolute;
    top: 0;
    left: 210px;
}

.row-base-player2{
    transform: rotate(90deg);
    position: absolute;
    top: 140px;
    right: 70px;
    
}

.row-base-player3{
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 210px;
    
}

.row-base-player4{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 140px;
    left: 70px;
    
}

.row-final-player1{
    background-color: var(--color-player-1);
    height: 240px;
    position: absolute;
    top: 0;
    left: 280px;
}

.row-final-player2{
    transform: rotate(90deg);
    background-color: var(--color-player-2);
    height: 240px;
    position: absolute;
    top: 195px;
    right: 85px;
}

.row-final-player3{
    transform: rotate(180deg);
    background-color: var(--color-player-3);
    height: 240px;
    position: absolute;
    bottom: 0;
    right: 280px;
}

.row-final-player4{
    transform: rotate(-90deg);
    background-color: var(--color-player-4);
    height: 240px;
    position: absolute;
    bottom: 195px;
    left: 85px;
}

.row-second-player1{
    transform: rotate(90deg);
    position: absolute;
    top: 140px;
    left: 70px;
}

.row-second-player2{
    position: absolute;
    top: 0;
    left: 350px;
}

.row-second-player3{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 140px;
    right: 70px;
}

.row-second-player4{
    position: absolute;
    bottom: 0;
    right: 350px;
}

.row-middle{

}